{% load static %}
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" href="static/halaman/assets/img/icon-jrm.png">
  <link rel="icon" type="image/png" href="static/halaman/assets/img/icon-jrm.png">
  <title>
    {{ title }}
  </title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <link href="static/halaman/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="static/halaman/assets/css/nucleo-svg.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link id="pagestyle" href="{% static '/halaman/assets/css/material-kit-pro.css' %}?v=3.0.0" rel="stylesheet" />
</head>
<body class="blog-posts bg-gray-200">
    {% include 'halaman/navbar.html' %}
  <header>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="page-header min-vh-75" style="background-image: url('static/halaman/assets/img/beranda.jpg');" loading="lazy">
            <span class="mask bg-gradient-dark"></span>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 my-auto">
                  <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Sparepart</h4>
                  <h1 class="text-white fadeIn2 fadeInBottom">Jaya Raya Mobil</h1>
                  <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Toko Sparepart Mobil & Truck terbaik di Kalimantan Timur, Harga yang murah dan stok tersedia lengkap untuk pembelian langsung maupun secara online.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow-lg mt-n5 mx-4 mb-4">
            <div class="card-body">
              <div class="container-fluid px-0">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 mb-sm-0 mb-4">
                    <div class="info-horizontal bg-gradient-primary border-radius-xl p-4 d-block d-md-flex ">
                      <i class="material-icons text-3xl text-white">shuffle</i>
                      <div class="description ps-0 ps-md-3">
                        <h5 class="text-white">Responsibility, Integrity, Customer Focus, Humble</h5>
                        <p class="text-white pe-0 pe-lg-5">Di Jaya Raya Mobil, nilai inti kami terangkum dalam satu kata: RICH — bertanggung jawab atas setiap layanan, menjunjung kejujuran, mengutamakan kepuasan pelanggan, dan melayani dengan rendah hati.</p>
                        <a href="https://www.instagram.com/jayarayamobil.id/" target="_blank" class="text-white icon-move-right">
                          Selanjutnya tentang kami.
                          <i class="fas fa-arrow-right text-sm ms-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 px-lg-1">
                    <div class="info-horizontal border-radius-xl p-4 d-block d-md-flex ">
                      <i class="material-icons text-3xl text-gradient text-primary">redeem</i>
                      <div class="description ps-0 ps-md-3">
                        <h5>The Best Option di Kalimantan</h5>
                        <p>Jaya Raya Mobil bangga menjadi bagian dari komunitas otomotif Samarinda dengan menjalin kemitraan bersama merek ternama seperti Honda, Mitsubishi, dan Toyota. Kami menyediakan sparepart asli sesuai standar pabrikan, dengan pelayanan ramah dan stok lengkap untuk mendukung kebutuhan kendaraan pribadi maupun niaga.</p>
                        <a href="https://www.instagram.com/jayarayamobil.id/" target="_blank" class="text-danger icon-move-right">
                          Selanjutnya tentang kami.
                          <i class="fas fa-arrow-right text-sm ms-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>  
                  <div class="col-lg-4 mt-lg-0 mt-4">
                    <div class="info-horizontal border-radius-xl p-4 d-block d-md-flex ">
                      <i class="material-icons text-3xl text-gradient text-primary">bookmarks</i>
                      <div class="description ps-0 ps-md-3">
                        <h5>Trust, Loyalty, Quality</h5>
                        <p>Kepercayaan pelanggan adalah prioritas kami. Jaya Raya Mobil hanya menyediakan sparepart asli dari mitra resmi seperti Honda, Mitsubishi, dan Suzuki. Kami berkomitmen menjaga performa kendaraan Anda melalui produk berkualitas dan terjamin keasliannya.</p>
                        <a href="javascript:;" class="text-primary icon-move-right"><a href="https://www.instagram.com/jayarayamobil.id/" target="_blank" class="text-danger icon-move-right">
                          Selanjutnya tentang kami.
                          <i class="fas fa-arrow-right text-sm ms-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="page-header min-vh-75" style="background-image: url('static/halaman/assets/img/beranda-bengkel.jpg');" loading="lazy">
            <span class="mask bg-gradient-dark"></span>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 my-auto">
                  <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Bengkel</h4>
                  <h1 class="text-white fadeIn2 fadeInBottom">Bengkel JRM</h1>
                  <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Bengkel Mobil & Truck terbaik di Samarinda, Spesialis Tune Up, Overhoul, dan Service tersedia pelayanan langsung maupun di jalan breakdown.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow-lg mt-n5 mx-4 mb-4">
            <div class="card-body">
              <div class="container-fluid px-0">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 mb-sm-0 mb-4">
                    <div class="info-horizontal border-radius-xl p-4 d-block d-md-flex ">
                      <i class="material-icons text-3xl text-gradient text-info">shuffle_on</i>
                      <div class="description ps-0 ps-md-3">
                        <h5>Best Quality Parts</h5>
                        <p>Jaya Raya Mobil menyediakan layanan bengkel terpercaya dengan teknisi berpengalaman dan peralatan lengkap. Kami melayani berbagai jenis servis mulai dari perawatan berkala hingga pemasangan sparepart asli, dengan pengerjaan cepat, rapi, dan profesional.</p>
                        <a href="https://www.instagram.com/bengkeljrm.id/" target="_blank" class="text-danger icon-move-right">
                          Selanjutnya tentang kami.
                          <i class="fas fa-arrow-right text-sm ms-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 px-lg-1">
                    <div class="info-horizontal info-horizontal bg-gradient-info border-radius-xl p-4 d-block d-md-flex ">
                      <i class="material-icons text-3xl text-white">beenhere</i>
                      <div class="description ps-0 ps-md-3">
                        <h5 class="text-white">Best Service in Kalimantan</h5>
                        <p class="text-white">Bengkel Jaya Raya Mobil hadir untuk memenuhi kebutuhan servis kendaraan Anda, baik pribadi maupun niaga. Didukung oleh tenaga ahli dan sistem kerja efisien, kami memberikan layanan perawatan dan perbaikan yang mengutamakan kualitas serta kenyamanan pelanggan.</p>
                        <a href="https://www.instagram.com/bengkeljrm.id/" target="_blank" class="text-danger icon-move-right">
                          Selanjutnya tentang kami.
                          <i class="fas fa-arrow-right text-sm ms-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mt-lg-0 mt-4">
                    <div class="info-horizontal border-radius-xl p-4 d-block d-md-flex ">
                      <i class="material-icons text-3xl text-gradient text-info">ballot</i>
                      <div class="description ps-0 ps-md-3">
                        <h5>Completed Set of Tools & Facility</h5>
                        <p>Dengan fasilitas modern dan ketersediaan suku cadang resmi, bengkel Jaya Raya Mobil siap menjaga performa kendaraan Anda tetap optimal. Kami melayani servis ringan hingga berat, dengan harga transparan dan hasil kerja yang dapat diandalkan.</p>
                        <a href="https://www.instagram.com/bengkeljrm.id/" target="_blank" class="text-danger icon-move-right">
                          Selanjutnya tentang kami.
                          <i class="fas fa-arrow-right text-sm ms-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="page-header min-vh-75" style="background-image: url('static/halaman/assets/img/karyawan.jpg');" loading="lazy">
            <span class="mask bg-gradient-dark"></span>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 my-auto">
                  <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Karyawan</h4>
                  <h1 class="text-white fadeIn2 fadeInBottom">Orang-Orang Terbaik JRM Dalam Bidangnya</h1>
                  <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Menjunjung Tinggi Intergritas Perusahaan.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow-lg mt-n5 mx-4 mb-4">
            <div class="card-body">
              <div class="container-fluid px-0">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 mb-sm-0 mb-4">
                    <div class="info-horizontal border-radius-xl p-4 d-block d-md-flex ">
                      <i class="material-icons text-3xl text-gradient text-danger">tune</i>
                      <div class="description ps-0 ps-md-3">
                        <h5>Best Service, Best Demand</h5>
                        <p>Di balik layanan bengkel Jaya Raya Mobil yang andal, terdapat tim karyawan yang berdedikasi dan berpengalaman. Setiap teknisi dan staf kami telah melalui pelatihan profesional untuk memastikan setiap pekerjaan dilakukan dengan teliti, aman, dan sesuai standar.</p>
                        <a href="https://www.facebook.com/jayaraya.smd/" target="_blank" class="text-danger icon-move-right">
                          Selanjutnya tentang kami.
                          <i class="fas fa-arrow-right text-sm ms-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 px-lg-1">
                    <div class="info-horizontal border-radius-xl p-4 d-block d-md-flex ">
                      <i class="material-icons text-3xl text-gradient text-danger">settings_suggest</i>
                      <div class="description ps-0 ps-md-3">
                        <h5>Family Quality Service</h5>
                        <p>Karyawan JRM adalah aset utama perusahaan. Dengan semangat kerja yang tinggi, sikap ramah, dan kemampuan teknis yang mumpuni, mereka menjadi ujung tombak dalam memberikan pengalaman servis yang memuaskan bagi setiap pelanggan bengkel kami.</p>
                        <a href="https://www.facebook.com/jayaraya.smd/" target="_blank" class="text-danger icon-move-right">
                          Selanjutnya tentang kami.
                          <i class="fas fa-arrow-right text-sm ms-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 mt-lg-0 mt-4">
                    <div class="info-horizontal bg-gradient-danger border-radius-xl p-4 d-block d-md-flex ">
                      <i class="material-icons text-3xl text-white">compare</i>
                      <div class="description ps-0 ps-md-3">
                        <h5 class="text-white">Smart, Intelligent, Friendly</h5>
                        <p class="text-white">Bengkel Jaya Raya Mobil bukan hanya soal fasilitas, tapi juga tentang orang-orang hebat di dalamnya. Tim kami bekerja dengan penuh tanggung jawab dan integritas, memastikan setiap kendaraan yang masuk keluar dalam kondisi terbaik.</p>
                        <a href="https://www.facebook.com/jayaraya.smd/" target="_blank" class="text-danger icon-move-right">
                          Selanjutnya tentang kami.
                          <i class="fas fa-arrow-right text-sm ms-1"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="min-vh-75 position-absolute w-100 top-0">
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
        </section>
        <div class="card card-blog card-background">
          <div class="full-background" style="background-image: url('{% static 'halaman/assets/img/leader.jpg' %}')" loading="lazy"></div>
          <div class="card-body body-left">
            <div class="content-left text-start">
              <h2 class="card-title text-white">Listiono Gunawan</h2>
              <p class="card-description" style="font-style: italic;">Jaya Raya Mobil bukan sekadar tempat jual beli sparepart. Ini adalah komitmen kami untuk memastikan setiap kendaraan yang Anda gunakan tetap prima, aman, dan tahan lama. Di balik setiap produk yang kami tawarkan, ada dedikasi untuk memberikan yang terbaik bagi pelanggan. Karena kami percaya, pelayanan yang tulus akan membangun kepercayaan yang abadi.</p>
              <div class="author">
                <img src="{% static 'halaman/assets/img/leader-icon.png' %}" alt="..." class="avatar mr-2" loading="lazy" style="width: 32px; height: 32px; object-fit: contain;">
                <div class="name ms-2">
                  <span>Jaya Raya Mobil</span>
                  <div class="stats">
                    <small>Direktur</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 row mb-4 justify-content-center">
        <section class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-8 mx-auto text-center mb-5">
                <span class="badge badge-info mb-2">Rekan Kami</span>
                <h2>Rekan Terpercaya dalam Setiap Perjalanan Anda</h2>
                <p>
                  Sebagai penyedia sparepart terpercaya di Samarinda, Jaya Raya Mobil menjalin kerja sama strategis dengan berbagai merek otomotif ternama untuk memastikan ketersediaan suku cadang yang asli, berkualitas, dan terjamin keandalannya. Kami bangga menjadi bagian dari jaringan yang mendukung mobilitas pelanggan melalui produk-produk terbaik dari mitra terpercaya kami.
                </p>
              </div>
            </div>
          <div class="row mb-4 justify-content-center ">
            <div class="col-lg-3 col-md-6 position-relative mb-sm-0 mb-3">
              <hr class="vertical dark d-md-block d-none">
              <h3 class="mb-3">
                <a href="javascript:;" class="text-darker">
                  Honda
                </a>
              </h3>
              <p class="mb-3">
                Sebagai salah satu produsen mobil terbesar di dunia, Honda dikenal dengan inovasinya dalam efisiensi bahan bakar dan kenyamanan berkendara. Bersama Honda, kami menyediakan berbagai suku cadang asli untuk model-model populer seperti Honda Brio, Jazz, CR-V, dan Mobilio—dengan jaminan kualitas dan keawetan.
              </p>
            </div>
            <div class="col-lg-4 col-md-6 position-relative mb-sm-0 mb-3">
              <div class="card card-plain">
                  <h4 class="mb-3">
                    <a href="javascript:;" class="text-darker">
                      Mitsubishi
                    </a>
                  </h4>
                  <p class="card-description mb-4">
                    Mitsubishi adalah nama besar dalam dunia kendaraan niaga dan penumpang, seperti L300, Pajero, dan Xpander. Jaya Raya Mobil menjalin kerja sama untuk mendistribusikan suku cadang orisinal Mitsubishi yang tangguh, cocok untuk kebutuhan jalanan Kalimantan yang beragam.
                  </p>
              </div>
            </div>
                <div class="col-lg-4 col-md-6 position-relative mb-sm-0 mb-3">
              <div class="card card-plain">
                  <h4 class="mb-3">
                    <a href="javascript:;" class="text-darker">
                      Toyota
                    </a>
                  </h4>
                  <p class="card-description mb-4">
                    Toyota selalu dikenal dengan ketangguhan dan keiritannya. Melalui kemitraan ini, kami menyediakan sparepart resmi untuk berbagai varian Toyota—mulai dari Avanza hingga Fortuner—yang dapat diandalkan untuk penggunaan jangka panjang.
                  </p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
        {% include 'halaman/footer.html' %}
  <script src="{% static '/halaman/assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/halaman/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static '/halaman/assets/js/plugins/typedjs.js' %}"></script>
  <script src="{% static '/halaman/assets/js/plugins/choices.min.js' %}"></script>
  <script src="{% static '/halaman/assets/js/plugins/flatpickr.min.js' %}"></script>
  <script src="{% static 'halaman/assets/js/plugins/parallax.min.js' %}"></script>
  <script src="{% static '/halaman/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/halaman/assets/js/plugins/anime.min.js' %}" type="text/javascript"></script>
  <script src="{% static '/halaman/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="{% static '/halaman/assets/js/material-kit-pro.min.js' %}?v=3.0.0" type="text/javascript"></script>
  <script>
    if (document.getElementById('language-select')) {
      var element = document.getElementById('language-select');
      const example = new Choices(element, {
        searchEnabled: false
      });
    }
    if (document.getElementById('currency-select')) {
      var element = document.getElementById('currency-select');
      const example = new Choices(element, {
        searchEnabled: false
      });
    }
  </script>
</body>

</html>