{% extends 'halaman/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-7">
    </div>
    <div class="col-12">
      <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-8 mx-auto text-center mb-5">
              <span class="badge badge-info mb-2">Living</span>
              <h2>A new way to buy your next home</h2>
              <p>
                If you can’t decide, the answer is no. If two equally difficult paths,
                choose the one more painful in the short term (pain avoidance
                is creating an illusion of equality).
              </p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-lg-3 col-md-6 position-relative mb-sm-0 mb-3">
              <hr class="vertical dark d-md-block d-none">
              <h3 class="mb-3">
                <a href="javascript:;" class="text-darker">
                  Short Sentences Gives You the Liberty
                </a>
              </h3>
              <p class="mb-3">
                Paradoxically, using more short sentences gives you the liberty to write beautiful long sentences.
              </p>
              <p class="mb-3">
                But in a way that&#39;s never been done before.
              </p>
              <div class="author">
                <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/team-9.jpg" alt="..." class="avatar shadow border-radius-lg" loading="lazy">
                <div class="name ps-3 my-auto">
                  <p class="text-sm text-darker font-weight-bold mb-0">Mathew Glock</p>
                  <div class="stats">
                    <p class="text-xs text-secondary mb-0">Author</p>
                  </div>
                </div>
              </div>
              <hr class="horizontal dark my-4">
              <h3 class="mb-3">
                <a href="javascript:;" class="text-darker">
                  5 Ways to Improve your Life.
                </a>
              </h3>
              <p class="mb-3">
                Create first, edit second. Never do them at the same time.
              </p>
            </div>
            <div class="col-lg-4 col-md-6 position-relative mb-sm-0 mb-3">
              <hr class="vertical dark d-lg-block d-none">
              <div class="card card-plain">
                <div class="card-header p-0 mx-lg-3 mt-3 position-relative z-index-1">
                  <a href="javascript:;" class="d-block">
                    <img src="{% static 'halaman/assets/img/examples/blog-9-4.jpg' %}" class="img-fluid border-radius-lg" loading="lazy">
                  </a>
                </div>
                <div class="card-body pt-3">
                  <h4 class="mb-3">
                    <a href="javascript:;" class="text-darker font-weight-bolder">
                      How to Build a $24 Billion Dollar Company in Just 2 Years.
                    </a>
                  </h4>
                  <p class="card-description mb-4">
                    I&#39;ve come to the conclusion that 50% of folks in this world don&#39;t even
                    spend enough time alone with their thoughts to have their own opinions.
                    They haven&#39;t done the work to decide what they think. And that isn&#39;t a rewarding way to live.
                  </p>
                  <div class="author">
                    <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/freedom.jpg" alt="..." class="avatar shadow border-radius-lg" loading="lazy">
                    <div class="name ps-3 my-auto">
                      <p class="text-sm text-darker font-weight-bold mb-0">L&#39;orea Sirman</p>
                      <div class="stats">
                        <p class="text-xs text-secondary mb-0">Redactor</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 position-relative mb-sm-0 mb-3">
              <hr class="vertical dark d-md-block d-none">
              <div class="card card-plain">
                <div class="card-header p-0 mx-lg-3 mt-3 position-relative z-index-1">
                  <a href="javascript:;" class="d-block">
                    <img src="{% static 'halaman/assets/img/examples/blog-9-1.jpg' %}" class="img-fluid border-radius-lg" loading="lazy">
                  </a>
                </div>
                <div class="card-body pt-3">
                  <h4 class="mb-3">
                    <a href="javascript:;" class="text-darker font-weight-bolder">
                      8 Powerful Mental Models to Help You Win.
                    </a>
                  </h4>
                  <p class="text-sm mb-0">By Andrew Peterson</p>
                </div>
              </div>
              <!-- <div class="card card-plain">
                <div class="card-header p-0 mx-lg-3 position-relative z-index-1">
                  <a href="javascript:;" class="d-block">
                    <img src="{% static 'halaman/assets/img/examples/blog-post-6.jpg' %}" class="img-fluid border-radius-lg" loading="lazy">
                  </a>
                </div> -->
                <!-- <div class="card-body pt-3">
                  <h4 class="mb-3">
                    <a href="javascript:;" class="text-darker font-weight-bolder">
                      High performers are like surfers.
                    </a>
                  </h4>
                  <p class="text-sm">By L&#39;orea Michael</p>
                </div> -->
              </div>
            </div>
            <div class="col-lg-2 col-md-6 position-relative mb-sm-0 mb-3">
              <div class="card card-plain">
                <div class="card-body pt-3">
                  <h6 class="font-weight-bolder d-flex align-items-center">
                    <i class="material-icons me-2">mic</i>Podcasts
                  </h6>
                  <p>An interview with Tesla founder.</p>
                  <span class="text-xs">By Alexa Rossa</span>
                </div>
              </div>
              <hr class="horizontal dark mt-0 mb-2">
              <div class="card card-plain">
                <div class="card-body pt-3">
                  <h6 class="font-weight-bolder d-flex align-items-center">
                    <i class="material-icons me-2">duo</i>
                    Interviews
                  </h6>
                  <p>Make $500k through small biz or raise it from family.</p>
                  <span class="text-xs">By Jonathan Silvia</span>
                </div>
              </div>
              <hr class="horizontal dark mt-0 mb-2">
              <div class="card card-plain">
                <div class="card-body pt-3">
                  <h6 class="font-weight-bolder d-flex align-items-center">
                    <i class="material-icons me-2">podcasts</i>Podcasts
                  </h6>
                  <p>Lengthen your time horizon.</p>
                  <span class="text-xs">By Andrew Joe</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END Blogs w/ 3 rows w/ image on left & title, text, author on end-->
    </div>
  </div>
</div>
{% endblock content %}